<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
	<div class="sidebar-module">
		<a href="http://stackoverflow.com/users/706/jaanussiim">
			<img src="http://stackoverflow.com/users/flair/706.png?theme=clean" width="208" height="58" alt="profile for JaanusSiim at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for JaanusSiim at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
		</a>
    	<br />
		<a href="http://ee.linkedin.com/in/jaanussiim">
			<img src="http://www.linkedin.com/img/webpromo/btn_viewmy_160x33.png" width="208" height="43" border="0" alt="View Jaanus Siim's profile on LinkedIn">        
    	</a>
    	<br />
		<iframe src="http://githubbadge.appspot.com/badge/jaanussiim?s=1" style="border: 0;height: 142px;width: 200px;overflow: hidden;" frameBorder=0></iframe>
	</div>
	<div class="sidebar-module">
		<a href="/rss.xml" rel="alternate" type="application/rss+xml">
			<img src="/images/rss-icon.png" alt="" style="vertical-align:middle;border:0"/>
		</a>&nbsp;
		<a href="/rss.xml" rel="alternate" type="application/rss+xml">Subscribe in a reader</a>
	</div>
</div>

<div class="sidebar">	
	<p>
	</p>
	<p>
    </p>
	<p>
	</p>
	
	<!-- SIDEBAR -->
</div>
